name: n8n

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    env_file: ".env"
    ports:
      - "5678:5678"
    volumes:
      - ./data:/data
  nginx:
    image: nginx:latest
    container_name: n8n_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/n8n.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/letsencrypt
    networks:
      - n8n_network

networks:
  n8n_network:
    driver: bridge
